@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/Home/Register" method="post">


    <table>
        <br />
        <br />

        <tr>
            <label>Patient Name</label>
            <input type="text" id="pname" name="pname" />
        </tr>
        <br />
        <br />
        <tr>
            <label>Patient disease</label>
            <input type="text" id="disease" name="disease" />
        </tr>
        <br />
        <br />
        <tr>
            <label>Patient Room</label>
            <input type="text" id="room" name="room" />
        </tr>
        <br />
        <br />
         <tr>
            <label>Patient admitdate</label>
            <input type="date" id="admitdate" name="admitdate" />
        </tr>
        <br />
        <br />
        <tr>
            <button type="submit">Register</button>
            <button type="reset">clear</button>
        </tr>

    </table>

</form>
